<div class="container-slider">
  <div class="slider" id="slider">
    <div class="slider__section">
      <img src="../../assets/img/niña2.png" alt="" class="sliderimg" />
      <div class="sliderbg"></div>
    </div>

    <div class="slider__section">
      <img src="../../assets/img/niña3.png" alt="" class="sliderimg" />
      <div class="sliderbg"></div>
    </div>

    <div class="slider__section">
      <img src="../../assets/img/niño4.png" alt="" class="sliderimg" />
      <div class="sliderbg"></div>
    </div>

    <div class="slider__section">
      <img src="../../assets/img/niño3.png" alt="" class="sliderimg" />
      <div class="sliderbg"></div>
    </div>
    <div class="adrdress">
      <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
      <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
  </div>
</div>

<app-home></app-home>
<app-footer></app-footer>


