@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color:#000;
}

.body{
background: #ffff;
color:#000;
border:8px solid #ffff;
width: 100%;
font-family: Arial, Helvetica, sans-serif;
}

.nav-boton{
background: #ffff;
color: #000;
border: 2px solid #ffff;
}

.nav-enlace{
font-weight: bold;
font-size: 20px;
padding: 12px;
margin: 50px;
width: 24px;
height: 24px;
}
.img-logo{
width:130px;
height: 120px;
margin-left: 1%;
float: left;
padding: 8px;
}
.wrapper{
width: 100%;
margin: 20px auto;
padding: 10px;
background: #ffff;
color:#000;
display: flex;
flex-direction: row;
justify-content: space-between;
cursor: pointer;
}

.number{
  background-color: antiquewhite;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.nav-enlace-active .number{
  background-color: antiquewhite;
}

.titleppal{
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.nav-enlace-active{
font-weight: bold;
font-size: 20px;
width: 24px;
height: 24px;
}

.container-slider{
  // width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 1px;
  overflow: hidden;
  // box-shadow: 0 0 0 10px #ffff
  //             0 15PX 50px;
  position: relative;
}

.slider{
  display: flex;
  width: 350%;
  height: 350%;
}

.slider__section {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderimg{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.slider__btn{
  width: 4%;
  height: 2%;
  background: #C3ECBF;
  position: absolute;
  top: 25rem;
  transform: translateY(-80%);
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

}

.slider__btn:hover{
  background:#FFC0CB;

}

.slider__btn--left{
  left: 10px;
}

.slider__btn--right{
  right: 10px;
}

.sliderbg{
  width: 650px;
  height: 650px;
  border-radius: 50%;
  position: absolute;
}

.slider__section:nth-child(1) .sliderbg{
  background-color: #FFC0CB;
}

.slider__section:nth-child(3) .sliderbg{
  background-color: #FFC0CB;
}

.slider__section:nth-child(2) .sliderbg{
  background-color: cornflowerblue;
}

.slider__section:nth-child(4) .sliderbg{
  background-color: cornflowerblue;
}


.about-us{
  color: #000;
  padding: rem;
  margin-top: 2rem;

}

.us{
  font-weight: bold;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.us-1{
  background: #ffff;
  margin: 2rem auto;
  text-align: justify;
  font-size: 18px;

}

.button-products{
  color:#000;
  font-weight: bold;
  font-size: 24px;
  border: transparent;
  display: flex;
  justify-content: center;
}

.header-products{
  background-color: #C3ECBF;
  font-weight: bold;
  border: transparent;
  font-size: 24px;
  padding: 12px;
  margin: 20px;
  justify-content: center;
}

.footer{
  background-color: #C3ECBF;
  display: flex;
  justify-content: space-around;
}

.data{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.follow-me{
  display: flex;
  justify-content: center;
  padding: 1rem;

}

.addres{
  font-size: 15px;
  justify-content: center;
  display: flex;
  color: #000;
}

.insta{
  font-size: 25px;
  margin: 30px;
  padding: 10px;
  margin: 7px;
}

.fb{
  font-size: 25px;
  padding: 15px;
  margin: 6px;
  margin-top: 30px;
}
