<div class="contenedor-slider">
  <div class="icono-izquierdo">
      <i class="fa-solid fa-chevron-left"></i>
  </div>
  <div class="slider-screen">
      <div class="slider">
          <div class="img-slider uno">
              <h2><img class="img" src="assets/img/niño3.png"></h2>
          </div>
          <div class="img-slider dos">
              <h2><img class="img" src="assets/img/niño4.png"></h2>
          </div>
          <div class="img-slider tres">
              <h2><img class="img" src="assets/img/niña3.png"></h2>
          </div>
          <div class="img-slider cuatro">
              <h2><img class="img" src="assets/img/niña2.png"></h2>
          </div>
      </div>
  </div>

  <div class="icono-derecho">
      <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>

<app-home></app-home>
<app-footer></app-footer>


