@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,400&display=swap');


.img{
  width: 500px;
  height: 500px;
}

.contenedor-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
}

.icono-izquierdo, .icono-derecho{
  z-index: 1;
  cursor: pointer;
}

.icono-izquierdo{
  top: 50%;
  left: 50%;

}

.icono-derecho{
  top: 50%;
  right: 50px;
}

.icono-izquierdo i, .icono-derecho i{
  font-size: 60px;
  color: rgb(0, 0, 0);
}

.slider-screen{
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 25px black;
  overflow: hidden;
  margin: 0;
  border-radius: 50%;
}

.slider{
  display: flex;
  width: 600%;
  transition: all 0.1s ease-in-out;

}

.slider .img-slider{
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.slider .img-slider h2{
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
}


.uno{
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);

}
.dos{
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}
.tres{
  background: #12c2e9;
background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);

}

.cuatro{
  background: #12c2e9;
background: -webkit-linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}


@media screen and (max-width: 428px){
  .slider-screen{
      width: 70%;
      height: 100%;
      box-shadow: 5px 5px 25px black;
      overflow: hidden;
      margin: 0;
      left: 0;
  }

.img{
  width: 300px;
  height: 300px;
}

.contenedor-slider{
  padding: 0rem;
  margin: 0;
  display: flex;
  justify-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.icono-derecho i, .icono-izquierdo i{
  font-size: 30px;
}
}
