<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="wrapper">
    <aside>
        <header>
            <h1 class="logo"></h1>
            <img src="../../assets/img/TRAVIESOS-remove.png">
        </header>
        <nav>
            <ul>
              <li>
                <button class="reference-button">
                  <i class="Fa-Solid FA-House"></i>Inicio</button></li>
              <li>
                <button class="reference-button">Productos</button></li>
                <img src="../../assets/img/baby.png" width="42" height="40">

              <li>
                <a class="button-card" href="./card.component.html">
                  <i class="FA-Solid FA-Cart-Shopping"></i>Carrito<span class="number">0</span></a></li>
            </ul>
        </nav>
