<div class="footer">
  <img class="img-logo" src="assets/img/TRAVIESOS-remove.png" alt="" />
  <div class="contact">
    <h3 class="data">Contacto:</h3>
    <p class="addres">Calle 25 Sur No.12F 16</p>
    <p class="mobil">239-60-20 - 310-574-3390</p>
  </div>
  <div class="continue">
    <h3 class="follow-me">Siguenos:</h3>
    <a href="https://www.facebook.com/profile.php?id=100067412404189/"><span class="fb"><i class="bi bi-facebook"></i></span></a>
    <a href="https://www.instagram.com/calzadotraviesos?igshid=NTA5ZTk1NTc=/"><span class="insta"><i class="bi bi-instagram"></i></span></a>
  </div>
</div>
