.footer{
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  display: flex;
  justify-content: space-around;
}

.data{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.follow-me{
  display: flex;
  justify-content: center;
  padding: 1rem;

}

.addres{
  font-size: 15px;
  justify-content: center;
  display: flex;
  color: #000;
}

.insta{
  font-size: 25px;
  margin: 30px;
  padding: 10px;
  margin: 7px;
}

.fb{
  font-size: 25px;
  padding: 15px;
  margin: 6px;
  margin-top: 30px;
}

.img-logo{
  width:130px;
  height: 120px;
  margin-left: 1%;
  float: left;
  padding: 8px;
}

@media screen and (max-width: 428px) {
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
