<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Traviesos</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
</head>
<body>
  <main>
    <h4 class="category"> Categorias</h4>
    <ul>
      <li>
        <button class="girl">Niña</button>
        <button class="boy">Niño</button>
      </li>
    </ul>
    <div class="containerproduct">
      <div class="product" id="product">
        <img class="girl1" src="../../assets/img/niña1.png" alt="">
        <div class="details1">
          <h2 class="ref1">Bota Notuerce 175-Rosado</h2>
          <h3 class="price1">$35000</h3>
        </div>
        <div class="colors1">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>


      <div class="product">
        <img class="girl2" src="../../assets/img/niña2.png" alt="">
        <div class="details2">
          <h2 class="ref2">Bota Notuerce 138-Fucsia</h2>
          <h3 class="price2">$35000</h3>
        </div>
        <div class="colors2">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>

      <div class="product">
        <img class="girl3" src="../../assets/img/niña3.png" alt="">
        <div class="details3">
          <h2 class="ref3">Zapato NoTuerce 373-Beige</h2>
          <h3 class="price3">$35000</h3>
        </div>
        <div class="colors3">
          <div class="color3"></div>
          <div class="color3"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>

      <div class="product">
        <img class=girl5 src="../../assets/img/niña5.png" alt="">
        <div class="details5">
          <h2 class="ref5">Zapato NoTuerce 215-Negro</h2>
          <h3 class="price5">$35000</h3>
        </div>
        <div class="colors5">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>

      <div class="product">
        <img class="girl6" src="../../assets/img/niña6.png" alt="">
        <div class="details6">
          <h2 class="ref6">Bota Notuerce 09-Rosado</h2>
          <h3 class="price6">$35000</h3>
        </div>
        <div class="colors6">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>

      <div class="product">
        <img class="girl7" src="../../assets/img/niña7.png" alt="">
        <div class="details7">
          <h3 class="ref7">Zapato NoTuerce 363- Fucsia Claro</h3>
          <h3 class="price7">$35000</h3>
        </div>
        <div class="colors7">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>
<!-- BOYSHOES -->
      <div class="product">
        <img class="boy1-1" src="../../assets/img/niño1.png" alt="">
        <div class="details1-1">
          <h3 class="ref1-1">Zapato NoTuerce 124 Niño- Azul x Rojo</h3>
          <h3 class="price1-1">$35000</h3>
        </div>
        <div class="colors1-1">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>

      <div class="product">
        <img class="boy2-2" src="../../assets/img/niño2.png" alt="">
        <div class="details2-2">
          <h3 class="ref2-2">Zapato NoTuerce 140 Niño- Blanco x Rojo</h3>
          <h3 class="price2-2">$35000</h3>
        </div>
        <div class="colors2-2">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>

      <div class="product">
        <img class="boy3-3" src="../../assets/img/niño3.png" alt="">
        <div class="details3-3">
          <h3 class="ref3-3">Zapato NoTuerce 170 Niño- Azul x Beige</h3>
          <h3 class="price3-3">$35000</h3>
        </div>
        <div class="colors3-3">
          <div class="color"></div>
        </div>
        <div class="sizes">
          <div class="size">17</div>
          <div class="size">18</div>
          <div class="size">19</div>
          <div class="size">20</div>
          <div class="size">21</div>
          <div class="size">22</div>
        </div>
        <span class=add><i class="bi bi-plus-circle"></i></span>
      </div>
            <div class="product">
              <img class="boy4-4" src="../../assets/img/niño4.png" alt="">
              <div class="details4-4">
                <h3 class="ref4-4">Zapato NoTuerce 169 Niño- Tabaco</h3>
                <h3 class="price4-4">$35000</h3>
              </div>
              <div class="colors4-4">
                <div class="color"></div>
              </div>
              <div class="sizes">
                <div class="size">17</div>
                <div class="size">18</div>
                <div class="size">19</div>
                <div class="size">20</div>
                <div class="size">21</div>
                <div class="size">22</div>
              </div>
              <span class=add><i class="bi bi-plus-circle"></i></span>
            </div>


              <div class="product">
                <img class="boy5-5" src="../../assets/img/niño5.png" alt="">
                <div class="details5-5">
                  <h3 class="ref5-5">Zapato NoTuerce 168 Niño Cafe x Azul</h3>
                  <h3 class="price5-5">$35000</h3>
                </div>
                <div class="colors5-5">
                  <div class="color"></div>
                </div>
                <div class="sizes">
                  <div class="size">17</div>
                  <div class="size">18</div>
                  <div class="size">19</div>
                  <div class="size">20</div>
                  <div class="size">21</div>
                  <div class="size">22</div>
                </div>
                <span class=add><i class="bi bi-plus-circle"></i></span>
              </div>

              <div class="product">
                <img class="boy6-6" src="../../assets/img/niño6.png" alt="">
                <div class="details6-6">
                  <h3 class="ref6-6">Zapato NoTuerce 121 Niño Cafe</h3>
                  <h3 class="price6-6">$35000</h3>
                </div>
                <div class="colors6-6">
                  <div class="color"></div>
                </div>
                <div class="sizes">
                  <div class="size">17</div>
                  <div class="size">18</div>
                  <div class="size">19</div>
                  <div class="size">20</div>
                  <div class="size">21</div>
                  <div class="size">22</div>
                </div>
                <span class=add><i class="bi bi-plus-circle"></i></span>
              </div>
            </div>
  </main>
  <script src="card.js" ></script>
</body>
</html>
