* {
  text-decoration: none;
  list-style: none;
  color: #000;
}
.nav-enlace,.header,.products{
  font-weight: bold;
  font-size: 22px;
}
.img-logo {
  width: 130px;

}
.wrapper {
  background: #ffff;
  color: #000;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.number {
  background-color: antiquewhite;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.nav-enlace-active .number {
  background-color: antiquewhite;
}

.titleppal {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.header,.products,.list-cart{
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 20px 25px;
}


.data-action :active{
  text-transform: uppercase;
  border-radius: 5%;
  border-color: #000;
  position: relative;
  width: 15px;
  height: 15px;
  padding: 2px;
  background-color: rgb(16, 184, 72);
}

