<div class="wrapper">
  <a href="header" class="header"><img class=img-logo src="../../assets/img/TRAVIESOS-remove.png" alt=""/></a>
    <nav>
        <a routerLink="/header" routerLinkActive="active"
        class="header">Inicio<i class="bi bi-house-door"></i></a>
        <a routerLink="/products" routerLinkActive="active"
        class="products">Productos <img src="../../assets/img/baby.png" width="26" height="24"></a>
        <a routerLink="/cart" routerLinkActive="active"
        class="list-cart">Carrito<i class="bi bi-cart"></i></a>
    </nav>
</div>
