
.material-icons{
  clear: both;
  display: flex;
  border-radius: 2px;
  color:#c3ecbf;
  border: none;
  cursor:pointer;
  justify-content: flex-end;
  padding-left: 6rem;
}
.material-icons:hover{
    background-color: transparent;
    color: #c3ecbf;
    }

.detailproduct1,.detailproduct2,.detailproduct3,.detailproduct5,.detailproduct6,.detailproduct7,.detailproduct1-1,.detailproduct2-2,.detailproduct3-3,.detailproduct4-4,.detailproduct5-5,.detailproduct6-6,.detailproduct7-7{
  border-radius: 1rem;
  }

.product.description{
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


.product{
  background-color: #60545488;
  margin: 1rem;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
  margin-left: 3rem;
  border-radius: 2rem;
  padding: 2rem;
  width: 420px;
  height: 350px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  float:left;

}

.imgproduct{
  width: 200px;
  height: 150px;
  display: block;
  margin: auto;
}

.colors,.sizes{
  display: flex;
}

.colors1{
  width: 12px;
  height: 14px;
  border-radius: 50px;
  background-color: #FFC0CB;
  margin-right: 10px;
  cursor:pointer;
  padding: 10px;
  margin: 5px;
}

.colors2{
  width: 12px;
  height: 14px;
  border-radius: 50px;
  background-color: #f3112c;
  margin-right: 10px;
  cursor:pointer;
  padding: 10px;
  margin: 5px;
}

.color3{
  width: 12px;
  height: 14px;
  border-radius: 50px;
  background-color: #f3112c;
  margin-right: 10px;
  cursor:pointer;
  margin: 5px;
  float:left;
}

.color3:last-child{
  background-color: #E8C39E;
  border-radius: 50px;
}

.size{
  display: flex;
  padding: 5px 20px;
  cursor:pointer;
  background-color: #ffff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  margin: 2.5px;
  justify-content: center;
  float: left;
}

img.girl1, img.girl2, img.girl3, img.girl5, img.girl6, img.girl7 {
  width: 210px;
  height: 200px;

}

img.boy1-1, img.boy2-2, img.boy3-3,img.boy4-4, img.boy5-5, img.boy6-6, img.boy7-7 {
width: 210px;
height: 200px;
}

.colors5{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #000000;
  margin-right: 10px;
  cursor:pointer;
  margin-right: 10px;
}

.colors6{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #FFC0CB;
  margin-right: 10px;
  cursor:pointer;
  margin-right: 10px;
}

.colors7{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #f3112c;
  margin-right: 10px;
  cursor:pointer;
  margin-right: 10px;
}

.title{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.body{
  background: #ffff;
  color:#000;
  border:8px solid #ffff;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  }

  .nav-boton{
  background: #ffff;
  color: #000;
  border: 2px solid #ffff;
  }

  .nav-enlace{
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
  margin: 50px;
  width: 24px;
  height: 24px;
  }
  .img-logo{
  width:130px;
  height: 120px;
  margin-left: 1%;
  float: left;
  padding: 8px;
  }
  .wrapper{
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  background: #ffff;
  color:#000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  }

.material-icons{
  font-weight: bold;
  font-size: 40px;
  color:#000;
  text-decoration: none;
  list-style: none;
  display:flex;
  align-items: flex-end;
}

.filter{
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
  border: #000;
  justify-content: flex-start;
  display: flex;
  cursor: pointer;
  font-size: 17px;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding:10px 15px;
  border-radius: 50px;
}

@media screen and (max-width: 428px) {
  .product_container{
    margin: 0 auto;
  }

  .product{
    padding: 25px;
    width: 80%;
  }
}
