
.info{
  float: left;

}

.container{
  background-color: rgb(96,84,84,0.21);
  border-radius: 4rem;
  display: flex;
}

.imgitem{
  width: 250px;
  height: 230px;
  justify-content: flex-start;
  display: flex;
  margin-left: 30px;
}


.material-icons{
  color:#b30606e7;
  cursor: pointer;
  align-items: flex-end;
  display: flex;
}


.finish{
  background-color: #00bb2d;
  padding:1rem 3rem;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  position:fixed;
  justify-items: center;
  text-align: center;
}

.price{
  float: right;
}

.title,.description,.amount{
  margin-left: 10px;
  border-radius: 4rem;
  justify-content: center;
  z-index: 1;
  padding: 8px;
  margin:20px



}
