
.container{
  display: flex;
  align-items: center;
  background-color: rgb(96,84,84,0.21);
  border-radius: 4rem;
  margin: 30px;
  width: 580px;
  height: 300px;
}

.imgitem{
  width: 250px;
  height: 230px;
  justify-content: flex-start;
  display: flex;
  margin-left: 30px;
  float: left;
}


.material-icons{
  color:#b30606e7;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
  padding-left: 6rem;
  clear: both;
  padding-right: 4rem;

}

.webwp{
  background: #00bb2d;
  padding:1rem 3rem;
  font-size: 25px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
}

.title{
  flex-direction: column;
  margin: 1px;
}

.description{
  flex-direction: column;
}

.send{
  padding-left: 8rem;
}
.text{
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.end{
  display: flex;
  padding-left: 12rem;
  font-size: 20px;
  font-weight: bold;

}


@media screen and (max-width: 428px) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 75%;
    height: 480px;
    font-size: 18px;
    margin: 0 auto 1rem;
  }

  .material-icons{
    padding: 5px;
    margin-left: 0;
  }

  .imgitem{
    margin: 0;
  }
}
