<div class="about-us">
  <h3 class="us">¿Quiénes Somos?</h3>
  <p class="us-1">
    Llevamos mas de 25 años en el mercado colombiano entregando felicidad a
    niños y a sus papitos.<br>El objetivo de calzado Traviesos es satisfacer las
    necesidades de los niños,ofreciendoles calzado <br> 100% colombiano. Elaborado
    con materias primas de la mas alta calidad y por padres que buscamos<br> lo
    mejor para nuestros hijos; con estilos comodos, confortables e
    innovadores. “Calidad y servicio al <br>mejor precio”.
  </p>
</div>
<li class="button-products">
  <a href="products" class="products"><button class="header-products">Productos</button></a>
</li>
