<div class="containerproduct">
  <div class="product" id="product">
    <img class="girl1" src="../../assets/img/niña1.png" alt="">
    <div class="details1">
      <h2 class="ref1">Bota Notuerce 175-Rosado</h2>
      <h3 class="price1">$35000</h3>
    </div>
    <div class="colors1">
      <div class="color"></div>
    </div>
    <div class="sizes">
      <div class="size">17</div>
      <div class="size">18</div>
      <div class="size">19</div>
      <div class="size">20</div>
      <div class="size">21</div>
      <div class="size">22</div>
    </div>
    <span class=add><i class="bi bi-plus-circle"></i></span>
  </div>


  <div class="product">
    <img class="girl2" src="../../assets/img/niña2.png" alt="">
    <div class="details2">
      <h2 class="ref2">Bota Notuerce 138-Fucsia</h2>
      <h3 class="price2">$35000</h3>
    </div>
    <div class="colors2">
      <div class="color"></div>
    </div>
    <div class="sizes">
      <div class="size">17</div>
      <div class="size">18</div>
      <div class="size">19</div>
      <div class="size">20</div>
      <div class="size">21</div>
      <div class="size">22</div>
    </div>
    <span class=add><i class="bi bi-plus-circle"></i></span>
  </div>

  <div class="product">
    <img class="girl3" src="../../assets/img/niña3.png" alt="">
    <div class="details3">
      <h2 class="ref3">Zapato NoTuerce 373-Beige</h2>
      <h3 class="price3">$35000</h3>
    </div>
    <div class="colors3">
      <div class="color3"></div>
      <div class="color3"></div>
    </div>
    <div class="sizes">
      <div class="size">17</div>
      <div class="size">18</div>
      <div class="size">19</div>
      <div class="size">20</div>
      <div class="size">21</div>
      <div class="size">22</div>
    </div>
    <span class=add><i class="bi bi-plus-circle"></i></span>
  </div>

  <div class="product">
    <img class=girl5 src="../../assets/img/niña5.png" alt="">
    <div class="details5">
      <h2 class="ref5">Zapato NoTuerce 215-Negro</h2>
      <h3 class="price5">$35000</h3>
    </div>
    <div class="colors5">
      <div class="color"></div>
    </div>
    <div class="sizes">
      <div class="size">17</div>
      <div class="size">18</div>
      <div class="size">19</div>
      <div class="size">20</div>
      <div class="size">21</div>
      <div class="size">22</div>
    </div>
    <span class=add><i class="bi bi-plus-circle"></i></span>
  </div>

  <div class="product">
    <img class="girl6" src="../../assets/img/niña6.png" alt="">
    <div class="details6">
      <h2 class="ref6">Bota Notuerce 09-Rosado</h2>
      <h3 class="price6">$35000</h3>
    </div>
    <div class="colors6">
      <div class="color"></div>
    </div>
    <div class="sizes">
      <div class="size">17</div>
      <div class="size">18</div>
      <div class="size">19</div>
      <div class="size">20</div>
      <div class="size">21</div>
      <div class="size">22</div>
    </div>
    <span class=add><i class="bi bi-plus-circle"></i></span>
  </div>

  <div class="product">
    <img class="girl7" src="../../assets/img/niña7.png" alt="">
    <div class="details7">
      <h3 class="ref7">Zapato NoTuerce 363- Fucsia Claro</h3>
      <h3 class="price7">$35000</h3>
    </div>
    <div class="colors7">
      <div class="color"></div>
    </div>
    <div class="sizes">
      <div class="size">17</div>
      <div class="size">18</div>
      <div class="size">19</div>
      <div class="size">20</div>
      <div class="size">21</div>
      <div class="size">22</div>
    </div>
    <span class=add><i class="bi bi-plus-circle"></i></span>
  </div>
